html * {
    color: #000;
    font-family: "Helvetica";
}

.title {
    border-width: 8px;
    text-align: center;
}

.container {
    text-align: center;
    display: block;
    height: 12%;
    border-radius: 25px;
}

.textL {
    color: black;
    font-size: 25px;
    line-height: 1px;
    text-align: left;
    padding-left: 5%;
}

.textR {
    color: black;
    font-size: 25px;
    line-height: 1px;
    text-align: right;
    display: block;
    padding-right: 5%;
}

.body {
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.scrollable {
    overflow: scroll;
}

#red {
    background-color: rgba(239, 83, 80, 0.75);
}

#yellow {
    background-color: rgba(255, 238, 88, 0.75);
}

#green {
    background-color: rgba(102, 187, 106, 0.75);
}

#blue {
    background-color: rgba(66, 165, 245, 0.75);
}

#purple {
    background-color: rgba(171, 71, 188, 0.75);
}

#pink {
    background-color: rgba(236, 64, 122, 0.75);
}

@media screen and (orientation: landscape) {
    html * {
        font-size: 6vh;
    }
    .title {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 8vh;
    }
    .container {
        margin-bottom: 2%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (orientation: portrait) {
    html * {
        font-size: 6vw;
    }
    .title {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 8vw;
    }
    .container {
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
