html * {
    font-size: 2.5vw;
    color: #ffffff;
    font-family: "Helvetica";
}

.title {
    font-size: 4vw;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 8px;
    text-align: center;
}

.container {
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: block;
    height: 12%;
    border-radius: 25px;
}

.body {
    background-size: cover;
    background-position: center;
    background-color: #000000;
}

#red {
    background-color: rgba(239, 83, 80, 0.75);
}

#yellow {
    background-color: rgba(255, 238, 88, 0.75);
}

#green {
    background-color: rgba(102, 187, 106, 0.75);
}

#blue {
    background-color: rgba(66, 165, 245, 0.75);
}

#purple {
    background-color: rgba(171, 71, 188, 0.75);
}

#pink {
    background-color: rgba(236, 64, 122, 0.75);
}
